credentials = {
    proxmox = {
        user = "terraform-prov@pve"
        password = ""
        ip = ""
    }
}

vmdata = {
    normal_machine_id = false
    os_template = ""
    ip_last_block_start = 20
    ip_first_three_block = ""
    ip_dns = ""
    ip_gw = ""
    diskstorage = ""  
}