credentials = {
    proxmox = {
        user = "terraform-prov@pve"
        password = ""
        ip = ""
    }
}

vmdata = {
    ip_dhcp = true
    os_template = ""
    ip_last_block_start = 20
    ip_first_three_block = ""
    ip_dns = ""
    ip_gw = ""
    diskstorage = ""  
    ssh_user = ""
    master_count = 1
    worker_count = 2
}